body{
    background-color: #121621;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navColor{
    background-color: #1B2131;
}

.navbar{
    max-width: 1200px;
    font-size: 1.1em;
}

.navCont{
    max-width: 500px;
}

.nav-item-custom, .dropdown-toggle {
    color: white;
}

.nav-item-custom:hover, .dropdown-toggle:hover{
    color: #FAC76A !important; /* Color al pasar el mouse */
}

.nav-item-custom:active, .dropdown-toggle:active {
    color: #d4a959 !important; /* Color cuando se hace click */
}

.dropdown-menu{
    background-color: #FAC76A;
}

.dropdown-item:hover{
    background-color: #d4a959;
    color:white;
}

.linkers{
    gap: 50px;
}

.btn{
    background-color: #d4a959;
    border-color: #d4a959;
}

.btn:hover{
    background-color: #FAC76A;
    border-color: #FAC76A;
}

.btn:active {
    background-color: #d4a959 !important;
    border-color: #d4a959 !important;
}

#search{
    max-width: 900px;
}

.cnt1 {
    max-width: 1000px;
    height: 50vh;
    border: 1.5px solid #FAC76A;
    background: linear-gradient(to bottom, rgba(18, 22, 33, 1), rgba(27, 33, 49, 1));
    background-color: #1B2131;
    background-size: cover;
}

.cnt2{
    max-width: 1200px;
}

.gods{
    height: 8vh;
}

.cardImg{
    object-fit: cover;
    height: 300px;
    object-position: top;
}

.card{
    width: 17em;
    border-radius: 5px;
    border-color: #FAC76A;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-body {
    background-color: #121621;
}

.card-body:hover{
    background-color: #FAC76A;
    cursor: pointer;
}

.card-body:active{
    background-color: #d4a959;
}

.cardBtn{
    width: 100%;
}

.godClass{
    max-width: 1200px;
}

.imgGod{
    width: 50px;
    object-fit: cover;
}

.custom-footer{
    height: 200px;
    background-color: #121621;
}